@import url('https://fonts.googleapis.com/css2?family=Inter&family=Noto+Sans+HK&family=Silkscreen&display=swap');

* {
    margin: 0px;
    overflow: hidden;
    font-family: 'Inter', sans-serif;
}

.mainMenu {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    position: fixed;
    /* half of width */
    left: calc(50% - 300px);
    /* half of height */
    top: calc(50% - 200px);

    background-color: black;
    color: white;

    width: 600px;
    height: 400px;

    transition: top 0.45s;
}

.pointsDisplay {
    position: fixed;
    left: 4px;
    top: 4px;
}

.dashCooldown {
    position: fixed;
    left: 6px;
    bottom: 6px;
    width: 140px;
    height: 15px;
    background-color: white;
    border: 3px solid black;
}

.dashCooldownPercentage {
    height: 100%;
    background-color: lightskyblue;
}

button {
    margin-bottom: 15px;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem; 
    background-color: #EF4444; 
    color: white;
    font-size: 1.4rem;
    line-height: 1.25rem; 
    width: 450px;
    height: 50px;
    border-radius: 360px;
    transition: width 0.15s, height 0.15s, background-color 0.15s;
}

button:hover {
    background-color: #f15d5d; 
    width: 457px;
    height: 55px;
}

.level {
    position: fixed;
    display: flex;
    width: 100%;
    height: 20%;
    transform: translate(0px, 50%);
    justify-content: center;
    align-items: flex-end;
    flex-direction: row;
}

.playerLevel {
    margin-right: 20px;
}

.levelBar {
    display: flex;
    width: 450px;
    height: 10px;

    border-radius: 360px;
    margin-bottom: 5px;

    color: white;
    font-size: 1.4rem;

    outline: 3px solid white;

}

.levelPercentage {
    background-color: lightblue;
    width: 0%;
    height: 100%;
}

.expContainer {
    position: fixed;
    width: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.exp {
    font-size: xx-small;
}
